<div class="row">
  <div class="col-3">
    Categories
    <div class="list-group">
      <a *ngFor="let x of categories" routerLink="/" [queryParams]="{category : x.key}" class="list-group-item list-group-item-action">
        {{x.data.name}}
      </a>
    </div>
  </div>
  <div class="col">

    <!-- start -->
    <div class="row">
      <div class="col" *ngFor="let x of products">

        <div class="card" style="width: 15rem;">
          <img class="card-img-top" width=150 height=150 src="{{x.data.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{x.data.title}}</h5>
            <p class="card-text">
              {{x.data.cost | currency : 'USD' }}
            </p>
            <a href="#" class="btn btn-primary">Add To cart</a>
          </div>
        </div>


      </div>
      <div class="w-100"></div>
    </div>
    <!-- end -->

  </div>
</div>